DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=local_password
DB_NAME=archive

JWT_SECRET=long_and_secure_hash

STORAGE_PATH=path/to/your/data

ADMIN_NAME=libreadmin
ADMIN_PASSPHRASE=your admin passphrase hashed with ten words
